
.cabletrack.vertical {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	filter: drop-shadow(0 0.1rem 0.2rem #0006);
}
.cabletrack.vertical .segment {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 3rem;
	height: 12vh;
	margin-right: auto;
	box-sizing: content-box;
	background:
		linear-gradient(90deg, #0004, transparent 20%, transparent 80%, #0004),
		radial-gradient(circle at center, #000 1.5px, transparent 2.5px),
		linear-gradient(90deg, #4442 1px, transparent 2px),
		linear-gradient(180deg, transparent 60%, #888 60%);
	background-position:
		0% 0%,
		0% 12px,
		7.5% 0%,
		0% 0%;
	background-repeat:
		repeat,
		repeat,
		repeat,
		repeat;
	background-size:
		100% 40px,
		50% 40px,
		0.6rem 40px,
		100% 40px;
	background-blend-mode:
		normal,
		normal,
		exclusion,
		normal;
	border-right: 0.2rem solid #777;
	border-left: 0.2rem solid #777;
}
.cabletrack.vertical .tJoint {
	position: relative;
	display: grid;
	grid-template-columns: 3.2rem 48vw;
	grid-template-rows: 4.5rem 3rem 4.5rem;
	align-items: center;
	margin-right: -8.6rem;
}
.cabletrack.vertical .tJoint > div:nth-of-type(1) {
	position: relative;
	grid-area: 1 / 1 / 4 / 2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	background:
		linear-gradient(90deg, #0004, transparent 20%, transparent 80%, #0004),
		linear-gradient(90deg, #0004, transparent 20%),
		linear-gradient(90deg, #0004, transparent 20%, transparent 80%, #0004),
		radial-gradient(circle at center, #000 1.5px, transparent 2.5px),
		linear-gradient(180deg, transparent 60%, #888 60%);
	background-position:
		0% 0%,
		0% 50%,
		0% 100%,
		-2px 12px,
		0% 0%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		repeat,
		repeat;
	background-size:
		100% 33.3%,
		100% 33.3%,
		100% 33.3%,
		50% 40px,
		100% 40px;
	background-blend-mode:
		normal,
		normal,
		normal,
		normal,
		normal;
	border-left: 0.2rem solid #777;
}
.cabletrack.vertical .tJoint > div:nth-of-type(2) {
	position: relative;
	width: 100%;
	height: 4.3rem;
	box-sizing: content-box;
	border-bottom: 0.2rem solid #777;
	border-left: 0.2rem solid #777;
	border-radius: 0 0 0 1rem;
}
.cabletrack.vertical .tJoint > div:nth-of-type(3) {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	background:
		linear-gradient(180deg, #0004, transparent 20%, transparent 80%, #0004),
		radial-gradient(circle at center, #000 1.5px, transparent 2.5px),
		linear-gradient(90deg, transparent 60%, #888 60%);
	background-position:
		1rem 0%,
		12px 0%,
		0% 0%;
	background-repeat:
		no-repeat,
		repeat,
		repeat;
	background-size:
		100% 100%,
		40px 50%,
		40px 100%;
	background-blend-mode:
		normal,
		normal,
		normal;
}
.cabletrack.vertical .tJoint > div:nth-of-type(4) {
	position: relative;
	width: 100%;
	height: 4.5rem;
	box-sizing: content-box;
	border-top: 0.2rem solid #777;
	border-left: 0.2rem solid #777;
	border-radius: 1rem 0 0 0;
}
.cabletrack.vertical .cable {
	display: block;
	width: 0.6rem;
	height: 100%;
	background: linear-gradient(90deg, #151515 10%, #252525 50%, #111 100%);
}
.cabletrack.vertical .tJoint .cable {
	position: absolute;
	top: 0;
	left: 0.2rem;
	display: block;
	width: 0.6rem;
	height: 100%;
	background: linear-gradient(90deg, #151515 10%, #252525 50%, #111 100%);
}
.cabletrack.vertical .tJoint .cable:nth-of-type(2) {
	left: calc(0.2rem + 0.6rem * 1);
}
.cabletrack.vertical .tJoint .cable:nth-of-type(3) {
	left: calc(0.2rem + 0.6rem * 2);
}
.cabletrack.vertical .tJoint .cable:nth-of-type(4) {
	left: calc(0.2rem + 0.6rem * 3);
}
.cabletrack.vertical .tJoint .cable:nth-of-type(5) {
	left: calc(0.2rem + 0.6rem * 4);
}
.cabletrack.vertical .tJoint .cable.bend {
	width: calc(100% + 0.2rem);
	height: calc(8rem - 0.6rem * 1);
	background:
		radial-gradient(circle at 100% 0%, transparent calc(3.3rem - 1px), #111 3.3rem, #252525 3.6rem, #151515 3.84rem, #111 3.9rem, transparent calc(3.9rem + 1px)),
		linear-gradient(0deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem),
		linear-gradient(90deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem);
	background-position:
		calc(-48vw + 0.5rem) 3.5rem,
		center,
		center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0 0 0 3.9rem;
}
.cabletrack.vertical .tJoint .cable.bend:nth-of-type(2) {
	width: calc(100% + 0.2rem - 0.6rem * 1);
	height: calc(8rem - 0.6rem * 2);
	background:
		radial-gradient(circle at 100% 0%, transparent calc(2.7rem - 1px), #111 2.7rem, #252525 3rem, #151515 3.24rem, #111 3.3rem, transparent calc(3.3rem + 1px)),
		linear-gradient(0deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem),
		linear-gradient(90deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem);
	background-position:
		calc(-48vw + 0.5rem) 3.5rem,
		center,
		center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0 0 0 3.3rem;
}
.cabletrack.vertical .tJoint .cable.bend:nth-of-type(3) {
	width: calc(100% + 0.2rem - 0.6rem * 2);
	height: calc(8rem - 0.6rem * 3);
	background:
		radial-gradient(circle at 100% 0%, transparent calc(2.1rem - 1px), #111 2.1rem, #252525 2.4rem, #151515 2.64rem, #111 2.7rem, transparent calc(2.7rem + 1px)),
		linear-gradient(0deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem),
		linear-gradient(90deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem);
	background-position:
		calc(-48vw + 0.5rem) 3.5rem,
		center,
		center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0 0 0 2.7rem;
}
.cabletrack.vertical .tJoint .cable.bend:nth-of-type(4) {
	width: calc(100% + 0.2rem - 0.6rem * 3);
	height: calc(8rem - 0.6rem * 4);
	background:
		radial-gradient(circle at 100% 0%, transparent calc(1.5rem - 1px), #111 1.5rem, #252525 1.8rem, #151515 2.04rem, #111 2.1rem, transparent calc(2.1rem + 1px)),
		linear-gradient(0deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem),
		linear-gradient(90deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem);
	background-position:
		calc(-48vw + 0.5rem) 3.5rem,
		center,
		center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0 0 0 2.1rem;
}
.cabletrack.vertical .tJoint .cable.bend:nth-of-type(5) {
	width: calc(100% + 0.2rem - 0.6rem * 4);
	height: calc(8rem - 0.6rem * 5);
	background:
		radial-gradient(circle at 100% 0%, transparent calc(0.9rem - 1px), #111 0.9rem, #252525 1.2rem, #151515 1.44rem, #111 1.5rem, transparent calc(1.5rem + 1px)),
		linear-gradient(0deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem),
		linear-gradient(90deg, #151515 0.06rem, #252525 0.3rem, #111 0.6rem, transparent 0.6rem);
	background-position:
		calc(-48vw + 0.5rem) 3.5rem,
		center,
		center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0 0 0 1.5rem;
}
