:root {
	--top-padding: 1vh;
	--side-padding: 1vh;
    --text-color: #000;
}

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html {
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100vh;
}

body {
    margin: 0px;
    min-height: 100vh;
}