.crate {
	display: grid;
	grid-template-columns: 1rem auto 1rem;
	grid-template-rows: 1rem auto 1rem;
	place-items: center;
	gap: 0;
	width: fit-content;
	height: fit-content;
	padding: 0;
	color: black;
	background:
		url('/textures/weathered_brown_planks_rough_1k.webp'),
		linear-gradient(180deg, hsl(32 23% 28%), hsl(32 23% 28%));
	background-position: center;
	background-repeat:
		repeat,
		repeat;
	background-size:
		1000px 100px,
		100% 100%;
	background-blend-mode:
		overlay,
		normal;
	box-shadow:
		0 0 0 1rem #0006 inset,
		/* 0 -0.1rem 0 0 hsl(32 23% 28%), */
		0 0 2rem -0.5rem #000;
	border-radius: 0;
	filter: brightness(1.05);
	transition: 0.1s ease filter;
}
.crate.separate {
	margin: auto;
}
.crate:hover {
	filter: brightness(1.2);
}
.crate > span {
	display: block;
	width: 100%;
	height: 100%;
	background:
		url('/textures/plywood_rough_1k.webp'),
		linear-gradient(180deg, hsl(32 23% 25%), hsl(32 23% 25%));
	background-position: center;
	background-repeat:
		repeat,
		repeat;
	background-blend-mode:
		overlay,
		normal;
	box-shadow: 0 0 1rem 0 #0004 inset;
}
.crate > span:nth-of-type(1) {
	grid-area: 1 / 1 / 2 / 4;
	clip-path: polygon(
		1px 0%,
		calc(100% - 1px) 0%,
		calc(100% - 1rem - 1px) 100%,
		calc(1rem + 1px) 100%
	);
}
.crate > span:nth-of-type(2) {
	grid-area: 1 / 1 / 4 / 2;
	clip-path: polygon(
		0% 1px,
		100% calc(1rem + 1px),
		100% calc(100% - 1rem - 1px),
		0% calc(100% - 1px)
	);
}
.crate > span:nth-of-type(3) {
	grid-area: 1 / 3 / 4 / 4;
	clip-path: polygon(
		0% calc(1rem + 1px),
		100% 1px,
		100% calc(100% - 1px),
		0% calc(100% - 1rem - 1px)
	);
}
.crate > span:nth-of-type(4) {
	grid-area: 3 / 1 / 4 / 4;
	clip-path: polygon(
		calc(1rem + 1px) 0%,
		calc(100% - 1rem - 1px) 0%,
		calc(100% - 1px) 100%,
		1px 100%
	);
}
.crate > .content {
	grid-area: 2 / 2 / 3 / 3;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	min-width: 10rem;
	min-height: 10rem;
	padding: 2ch;
	color: black;
	text-decoration: none;
	background-color: unset;
	box-shadow: 0 0 0.5rem 0 #0008 inset;
}
.crate > .content:hover {
	background-color: unset;
}
.crate.wide > .content {
	min-width: 20rem;
}
.crate > .content > * {
	color: inherit;
	mix-blend-mode: soft-light;
}
.crate > .content img {
	width: 5rem;
}
.crate > .content h3 {
	margin: 0;
	font-weight: 700;
	line-height: 1em;
}
.crate > .content > .stamps {
	position: absolute;
	top: 0.5ch;
	right: 0.5ch;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5ch;
	margin: 0;
	padding: 0;
	list-style: none;
	filter: grayscale(1) invert(1);
	opacity: 0.9;
}

.crateStack {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-end;
	gap: 1px 0.2rem;
	max-width: 61rem;
	margin: 19rem 0 0;
	padding: 0 10rem;
}
.crateStack > li:first-of-type {
	position: absolute;
	top: -19rem;
}
.crateStack > .spacer {
	display: block;
}
