.hangingLight {
	position: absolute;
	top: 5.5rem;
	right: 20vw;
	isolation: isolate;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	height: calc(40% - 5.5rem);
}
@media screen and (max-width: 700px) {
	.hangingLight {
		right: 10vw;
	}
}
@media screen and (max-width: 400px) {
	.hangingLight {
		right: -0.5rem;
	}
}
.hangingLight > .cable {
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0.35rem;
	height: 100%;
	background: linear-gradient(90deg, #000 10%, #111 50%, #080808);
}
.hangingLight > .cable::after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	background: inherit;
	border-radius: 0 0 0.2rem 0.2rem;
	clip-path: polygon(
		15% 0%,
		85% 0%,
		100% 100%,
		0% 100%
	);
}
.hangingLight > .bulb {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	color: orange;
	background:
		radial-gradient(circle at center, transparent 25%, #fff3 55%, transparent 65%);
	filter:
		drop-shadow(0 0 0.4rem currentColor)
		drop-shadow(0 0 0.4rem currentColor);
}
.hangingLight > .bulb::before {
	content: '';
	position: absolute;
	top: 0;
	display: block;
	width: 0.6rem;
	height: 0.1rem;
	background: #fff2;
}
.hangingLight > .bulb > .filament {
	position: relative;
	z-index: -1;
	display: block;
	width: 0.75rem;
	height: 0.4rem;
	color: inherit;
	background: linear-gradient(110deg, #1110 30%, currentColor, #1110 70%);
	background-position: center;
	background-repeat: repeat;
	background-size: 0.15rem 100%;
}
.hangingLight > .bulb > .filament::before,
.hangingLight > .bulb > .filament::after {
	content: '';
	position: absolute;
	bottom: 30%;
	display: block;
	width: 0.05rem;
	height: 1rem;
	background: linear-gradient(0deg, transparent, currentColor 0.5rem);
	transform-origin: 50% 100%;
}
.hangingLight > .bulb > .filament::before {
	left: 0;
	transform: rotate(12deg);
}
.hangingLight > .bulb > .filament::after {
	right: 0;
	transform: rotate(-12deg);
}
.hangingLight > .light {
	position: absolute;
	z-index: 2;
	bottom: 0.9rem;
	display: block;
	width: 1000%;
	aspect-ratio: 1;
	background: radial-gradient(circle at center, #fff, transparent 65%);
	transform: translateY(50%);
	opacity: 0.3;
	pointer-events: none;
}
